@model PizzaStore.Models.Pizza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
          Pizza Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Pizza Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Crust Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrustType)
        </dd>
        <dt class="col-sm-2">
            Pizza Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinePrice)
        </dd>
        <dt class="col-sm-2">
           Pizza OrderId
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PizzaOrderId)
        </dd>
    </dl>
</div>

@if (Model.IngredientList.Any())
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @* this and other lambdas for razor are never "actually executed" *@
                    @* they are just looked at by the rendering engine *@
                    @Html.DisplayNameFor(model => model.IngredientList.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IngredientList.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IngredientList.First().StockNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.IngredientList)
                    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockNumber)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Ingredients", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Ingredients", new { id = item.Id })
                </td>
            </tr>
         }
        </tbody>
    </table>
    }
<div>

</div>
