@model PizzaStore.Models.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@if (Model.UserLocations.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                   
                    @Html.DisplayNameFor(model => model.UserLocations.First().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserLocations.First().State)
                </th>            
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserLocations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "UserLocations", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", "UserLocations", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
